h1 {
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    margin-top: 2px;
    color: black;
}

img {
    height: 37px;
    padding: 0px 10px;
}

p {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

main.main-intro button {
    display: flex;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

main.main-intro2 li {
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    font-size: 17px;
    text-align: justify;
}

.big-box {
    width: 350px;
    height: 500px;
    box-shadow: 1px 3px 10px 13px #e9e9e98f;
}

article {
    margin-bottom: 70px;
}

.big-box header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background: #0000003b;
}

.big-box main {
    padding: 20px;
}

p.big-text {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    height: 115px;
    line-height: 120px;
}

.big-box button {
    padding: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

.big-box footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.main-intro2 {
    display: flex;
    justify-content: space-evenly;
}

div#points {
    width: 650px;
}

div#heading {
    display: flex;
    margin-right: 400px;
}

.header {
    display: flex;
    padding-top: 30px;
    padding-bottom: 105px;
}

#menu a {
    color: black;
    background: white;
    font-size: 15px;
}

nav#menu {
    background: white;
    font-family: 'Montserrat', sans-serif;
}

#menu li a:hover {
    color: black;
}

footer {
    background: black;
    height: 400px;
    padding: 70px;
}

li {
    margin: 20px 0px;
}

header {
    color: #fff;
}

.main-divs {
    display: flex;
}

ul {
    margin: 4px 20px;
    list-style-type: none;
}

footer header {
    margin: 0px 60px;
    font-family: 'Roboto', sans-serif;
}

a.footer-a {
    color: #ababab;
    font-family: 'Montserrat', sans-serif;
}
