body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.twoMains {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.main .header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

h1 {
    font-size: 55px;
    
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    margin-top: 2px;
    color: black;
}

nav#menu {
    font-family: 'Montserrat', sans-serif;
}

footer.main {
    background: black;
    padding: 70px;
}

img {
    height: 37px;
    padding: 0px 10px;
}

p {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

main.main-intro button {
    display: flex;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    background: #ffe800ba;
    padding: 10px;
    font-size: 19px;
    letter-spacing: 2px;
}

/* pricing box CSS  */

.pricing-box {
    max-width: 380px;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    margin-left: 40px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

p.big-text {
    text-align: center;
    line-height: 70px;
    display: block;
    font-size: 40px;
    font-weight: 700;
}

p.light-text {
    font-size: 17px;
}

.pricing-box header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background: #0000003b;
}

.pricing-box main {
    padding: 20px;
}

p.pricing-text {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    height: 115px;
    line-height: 120px;
}

.pricing-box button {
    padding: 15px;
    font-size: 16px;
    background: #faee4499;
    font-family: 'Poppins', sans-serif;
}

.pricing-box footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

/* end of pricing box CSS  */

article {
    margin-bottom: 70px;
}
main.main-intro2 {
    display: flex;
    justify-content: space-evenly;
}

div#points {
    width: 650px;
}

div#heading {
    display: flex;
}

.header {
    display: flex;
    padding-top: 31px;
    padding-bottom: 105px;
}

.main-divs {
    display: flex;
}

footer.main ul {
    margin: 4px 20px;
    list-style-type: none;
}

footer.main li {
    margin: 20px 0px;
}

footer.main header {
    margin: 0px 60px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a.footer-a {
    color: #ababab;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}

article#two-headers header p {
    font-size: 27px;
    color: #9e9e9e;
}

article#two-headers {
    font-weight: bold;
}

#points li span {
    color: #ff9800;
}

#points ul {
    list-style: none;
    padding:0;
}

main.main-intro2 li {
    line-height: 25px;
    font-size: 17px;
    text-align: justify;
    position: relative;
    padding-left: 23px;
    margin: 7px 0;
}

#points li::before {
    color: #229b2b;
    position: absolute;
    top: 4px;
    left: 0;
    content: "✔";
    pointer-events: none;
    text-rendering: auto;
}

article#b-d p span {
    color: blue;
}

span.material-icons.grey, span.material-icons.error {
    color: #8080806e;
}
span.error {
    margin-left: 10px;
}
span.material-icons.close {
    color: #ff1100a8;
}


/* compare table CSS */

.table-list {
    display: flex;
    justify-content: start;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table span {
    display: block;
    width: 29px;
}

td .material-icons {
    font-size: 20px;
}

td.full-border {
    border:1px solid rgb(180, 182, 180);
}

td.no-right-border {
    border:1px solid  rgb(180, 182, 180);
    border-right: 0;
}

td.no-left-border {
    border:1px solid  rgb(180, 182, 180);
    border-left: 0;
}

th {
    height: 75px;
}

.td-radius {
    text-align: center;
    border: none;
    border-radius: 25px 25px 0 0;
}

td span.text {
    margin: 0 15px;
    font-size: 17px;
    letter-spacing: 1px;
}

td {
    background: white;
    padding: 10px;
    vertical-align: middle;
    height: 50px;
}

thead {
    font-size: 20px;
    letter-spacing: 2px;
}

th.third {
    background: #ffc107;
}

th.second {
    background-color: #fbe104;
}

th.first {
    background: white;
}

thead th {    
    padding: 10px;
}

/* end of table CSS  */

span.material-icons.done {
    color: #8bc34a;
}

#points li span.material-icons.done {
    color: #8bc34a;
}

header.main {
    border-bottom: 1px solid #9e9e9e9c;
    position: fixed;
    background: white;
    width: 100%;
}

.end p {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.end-img {
    width: 150px;
    height: 100px;
}

.aside-main {
    width: 850px;
}

main.main-intro button:hover {
    opacity: 60%;
}

footer.main a:hover {
    color: white;
    font-weight: lighter;
}
